* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial;
}

.imageGrid{
    text-align: center;
    padding: 32px;
    background-color: black;
    overflow: hidden;
}
.column {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    flex-direction: column;
    padding: 0 4px; 
}

.row {
   padding: 0 4px; 
   height: 150px;
   display: -ms-flexbox; /* IE10 */
   display: flex;
   flex-direction: row; 
   justify-content: space-between;
   width: 100%;
}


.row img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    height: 150px;
    padding: 5px;
    flex-grow: 1;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}